<div class="container">
  <mat-card class="activation-card">
    <mat-card-header class="card-header">
      <mat-card-title>
        <h1 class="centered-title">User Activation</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="message" [ngClass]="{'success-message': isSuccess, 'error-message': !isSuccess}">
        {{ message }}
      </p>
      <div *ngIf="loading" class="loading">
        <p>Processing your activation request...</p>
      </div>
    </mat-card-content>
    <mat-card-actions> 
      <button mat-raised-button color="primary" [routerLink]="['/login']">Voltar para Login</button>
    </mat-card-actions>
  </mat-card>
</div>