<div class="login-container">
    <div class="login-box">
      <h2>Login</h2>
  
      <form (submit)="onSubmit()">
        <div class="input-group">
          <label for="email">E-mail</label>
          <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="E-mail" required>
        </div>
  
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Password" required>
        </div>
  
        <div class="actions">
          <button type="submit" class="btn-login" [disabled]="isLoading">
            {{ isLoading ? 'Signing In...' : 'Sign In' }}
          </button>          
        </div>
        <div class="actions">
          <button type="button" class="btn-login" style="background-color: #f44336;" 
                  (click)="onGuestLogin()" [disabled]="isLoading">
            {{ isLoading ? 'Logging In...' : 'Login as Guest' }}
          </button>
        </div>
      </form>
  
      <p class="register">
        Don't have an account yet? <a routerLink="/register">Sign Up</a>
      </p>
    </div>
  </div>