mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.toolbar-left,
.toolbar-right {
  display: flex;
  align-items: center;
}

.toolbar-center {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex: 1;
}
