.spacer {
  flex: 1 1 auto; /* Empurra o conteúdo para o centro e direita */
}

mat-toolbar {
  display: flex;
  align-items: center;
}

.menu-container {
  display: flex;
  gap: 10px; /* Espaço entre os botões do menu */
}